<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png" >
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Elad Schwartz. It uses data from 'something' to get the weather</p>
    <img class="portrait" src= "/img/sloth_pic.png" alt="pic of a sloth">
</div>
{{>footer}}
</body>
</html>